@use '../../../scss/variables';

.item-options-container {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 10px;
    width: fit-content;
    gap: 10px;

    .item-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        transition:
            width 0.2s ease,
            padding 0.2s ease,
            opacity 0.5s ease;
        opacity: 1;
        width: 65px;
        padding: 0px;
        overflow: hidden;
    }

    .separator {
        border-right: 1px solid variables.$color7;
        height: 27px;
        margin: auto;
    }

    &__button {
        border-radius: 50%;
    }
}