@use '../../../scss/variables';

.cf-bar {
    width: 100%;
    height: 40px;
    background-color: variables.$backGroundColor;
    border-bottom: 1px solid #262a30;
    //overflow: hidden
    
    &__content {
        width: 100%;
        max-width: variables.$content-max-width;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;

        &__body {
            display: grid;
            grid-template-columns: 1fr calc(100% - 65px - 80px) 1fr;
            width: 100%;

            &__left {
                align-items: center;
                display: flex;
                align-items: center;
                width: 65px;
                padding-left: 20px;
                //box-shadow: 15px 0px 10px rgb(0, 0, 0, 0.6);
                height: 40px;
                border-right: 1px solid #262a30;
                z-index: 1;
                gap: 10px;

                &__open-folders-button {
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    padding-right: 10px;
                    pointer-events: none;

                    &__arrow-img-container {
                        width: 20px;
                        display: flex;
                        align-items: center;
                        display: none;
        
                        &__img {
                            opacity: 0.5;
                            width: 100%;
                            transition: transform 0.3s ease, opacity 0.3s ease;
    
                            &.open-cf-bar {
                                transform: scaleX(-1);
                            }
                        }
                    }

                    &__folder-count {
                        display: flex;
                        position: relative;
                        align-items: center;
                        justify-content: center;
                        pointer-events: none;

                        .fc__main-folder {
                            height: 30px;
                            width: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: transform 0.3s ease, opacity 0.3s ease;
                            opacity: 0.9;

                            &__img-container {
                                height: 30px;
                                width: 30px;
                                display: flex;
                                align-items: center;
                                position: relative;
                                justify-content: center;
        
                                &__img {
                                    height: 30px;
                                    width: 30px;
                                    position: absolute;
                                }
                            }
        
                            &__number {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                display: flex;
                                align-items: center;
                                padding-inline: 3px;
                                font-weight: 600;
                                color: var(--background-color);
                                transition:
                                    opacity 0.3s ease,
                                    top 0.2s ease,
                                    left 0.2s ease,
                                    transform 0.3s ease;
                            }


                        }

                        .fc__ghost-folder-container {
                            position: absolute;
                            bottom: -4px;
                            right: -8px;
                            height: 30px;
                            width: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: black;
                            opacity: 0;
                            transition: opacity 0.3s ease;

                            &__img {
                                position: absolute;
                                height: 30px;
                                width: 30px;
                                filter: brightness(0.8);
                                transition: filter 0.3s ease;
                            }

                            &__number {
                                z-index: 1;
                                opacity: 0;
                            }
                        }
    

                        &.not-root {

                            .fc__main-folder {
                                opacity: 0.4;
                                transform: translate(-6px, -6px) scale(0.7);
                            
                                &__number {
                                    opacity: 0;
                                }
                            }

                            .fc__ghost-folder-container {
                                opacity: 1;

                                &__number {
                                    opacity: 1;
                                }
                                
                            }
                        }
                    }
                }
            }
            

            &__center {
                display: flex;
                align-items: center;
                gap: 5px;
                width: calc(100% - 1px);
                padding-inline: 15px;
                overflow-x: auto; 
                overflow-y: hidden;
                white-space: nowrap;

                &::-webkit-scrollbar { 
                    height: 8px; 
                }

                &::-webkit-scrollbar-thumb { 
                    background: #464646;
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-track { 
                    background: #303030;
                }

                &__cf-name {

                }
            }

            &__right {
                margin-left: auto;
                border-left: 1px solid #262a30;
                padding-left: 10px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 5px;
                width: 80px;


                &__img-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 25px;
                    width: 25px;

                    &__img {
                        height: 25px;
                        width: 25px;
                    }
                }
            }
        }
    }
}   

@media (max-width: variables.$breakpoint1) {
    .cf-bar__content{

        &__body {
            grid-template-columns: 1fr calc(100% - 90px - 80px) 1fr;

            &__left {
                height: 40px;
                display: flex;
                gap: 10px;
                width: 90px;

                &__open-folders-button {
                    cursor: pointer;
                    display: flex;
                    pointer-events: all;
                    padding-right: 10px;

                    &__arrow-img-container {
                        display: flex;
                    }

                    &__folder-count {
                        .fc__main-folder{
                            opacity: 0.6;
                        }
                    }

                    &:hover {
                        .cf-bar__content__body__left__open-folders-button {
                            &__arrow-img-container {
                                &__img {
                                    opacity: 1;
                                }
                            }
                            
                            &__folder-count {
                                .fc__main-folder{
                                    opacity: 0.9;
                                }

                                &.not-root {
                                    .fc__main-folder {
                                        opacity: 0.6;
                                    }

                                    .fc__ghost-folder-container__img {
                                        filter: brightness(1);
                                    } 
                                }
                            } 
                        }
                    }
                }
            }

            &__center {
                

            }
        }
    }
}