@use '../../../scss/variables';

.item-name {
    display: flex;
    align-items: center;
    padding-inline: 20px;
    overflow: hidden;
    width: 100%;

    &__content {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
}
