@use '../../../scss/variables';

.item-name {
    border-right: 1px solid variables.$backGroundColor;
    width: 250px;
    display: flex;
    align-items: center;
    padding-inline: 20px;

    &__content {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
