@use '../../../scss/variables';

.item-notes {
    display: flex;
    align-items: center;
    padding-inline: 20px;
    overflow: hidden;
    width: 100%;

    &__content{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(133, 133, 133);

        .no-notes {
            opacity: 0;
            pointer-events: none;
        }
    }
}

