@use '../../../../scss/variables';
.category-container {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    .category {
        width: 100%;
        height: 100%;
        background-color: variables.$categoriesAndItemsBG;
        transition: background-color 0.2s ease;
    
        &:hover {
            background-color: variables.$categoriesAndItemsBGHover;
        }
    
        &:active {
            transition: none;
            border-color: variables.$color10;
        }
    
        .top-side {
            width: 100%;
            height: 25%;
            border-bottom: 1px solid variables.$backGroundColor;

        }

        .bottom-side {
            height: 80%;
            padding: 10px 15px 20px 15px;
            display: flex;

            .category-title {
                font-weight: bolder;
                margin-right: auto;
                word-wrap: break-word;   
                word-break: break-word;
                overflow: hidden;
            }
        }
    }

    .category-options-button {
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        position: absolute;
        right: 4px;
        top: 5px;
        padding: 2px;
        background: none;

        &__img {
            width: 100%;
        }
    }
}
