@use '../../../scss/variables';

.path {
	display: flex;
	align-items: center;
	gap: 5px;
	width: fit-content;
	max-width: 1000px;
	color: rgb(161, 161, 161);

	.active {
		color: rgb(255, 255, 255);
	}

	.home-path {
		transition: color 0.2s ease;

		&:hover {
			color: rgb(255, 255, 255);
		}
	}

	.path-separator {
		height: 25px;
		width: 25px;

		&__img {
			width: 100%;
		}
	}
}
