@use '../../../../scss/variables';

.move-button {
    background: none;
    cursor: pointer;
    width: 27px;
    height: 27px;
    border: 1px solid variables.$color7;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: variables.$color6;
    }

    &:active {
        transition: none;
        background-color: variables.$color8;
    }

    &__img {
        width: 19px;
    }
}