@use '../../../scss/variables';

.item-season-episode {
    border-right: 1px solid variables.$backGroundColor;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
    gap: 20px;

    .season-container, .episode-container {
        display: flex;
        gap: 10px
    }
}

