@use './scss/variables';

:root {
	font-family: variables.$textFont;
}

input, textarea, button {
	font-family: variables.$textFont;
	font-size: 16px;
}

button {
	background: none;
	color: white;
	cursor: pointer;
}