.folder {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    position: relative;
    width: 100%;


    &__lines {
        position: absolute;
        top:-15px;
        height: 100%;
        width: 15px;
        border-left: 1px solid rgb(83, 83, 83);
        border-bottom: 1px solid rgb(83, 83, 83);
    }

    &__details {
        z-index: 1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        align-items: center;
        padding-left: 5px;
        margin-left: 15px;
        padding-right: 10px;
        width: 100%;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &__img-container {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        
            .folder-img {
                transition: opacity 0.3s ease;
                width: 30px;
                opacity: 0.2;
            }
        }

        &__name {
            color: rgb(158, 158, 158);
            transition: color 0.2s ease;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 135px;
        }

        .delete-folder-button {
            margin-left: auto;
        }

        &:hover {

            background-color: rgb(30, 30, 30);
            display: flex;
            padding-left: 5px;
            width: 100%;
    
            .folder__details__img-container {
                .folder-img {
                    opacity: 0.6;
                }
            }
    
            .folder__details__name {
                color: white;
            }

        }
    }

    &.current-folder {

        .folder__details {
            background-color: rgb(45, 45, 45);
            
            &__img-container {
                .folder-img {
                    opacity: 0.6;
                }
            }
    
            &__name {
                color: white;
            }
        }

        &:hover {

            .folder__details {
                background-color: rgb(60, 60, 60);
            }
        }
    }
}

@media (min-width: 1515px) {
    
    .folder {
        &__details {
            .delete-folder-button {
                opacity: 0;
            }
        }

        &:hover {
            .folder__details {
                .delete-folder-button {
                    opacity: 1;
                }
            }
        }

        &.current-folder {
            .folder__details {
                .delete-folder-button {
                    opacity: 1;
                }
            }
        }
    }
}